/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  font-family: 'Myriad Pro'; }
  body .page {
    max-width: 1025px;
    margin: 0 auto; }
    body .page a {
      color: #fff;
      text-decoration: none; }
      body .page a:hover {
        color: yellow; }
    body .page header {
      background: #373c3f;
      color: #fff;
      width: 100%;
      box-sizing: border-box; }
      body .page header li {
        color: #fff;
        text-transform: uppercase; }
    body .page .title-banner {
      background: #14afc2;
      width: 100%;
      box-sizing: border-box;
      position: relative; }
      body .page .title-banner h1 {
        color: #fff; }
      body .page .title-banner h2 {
        color: #a8d6e0; }
        body .page .title-banner h2:after {
          font-family: 'FontAwesome';
          content: "\f054";
          color: #fff; }
    body .page .cta-block {
      width: 100%; }
      body .page .cta-block .cta-box {
        background: #27212c; }
        body .page .cta-block .cta-box h2 {
          color: #72657d; }
      body .page .cta-block a {
        display: block;
        background: #bc3183; }
    body .page .gallery {
      width: 100%; }
      body .page .gallery .arrow {
        background: #5b0fa1;
        position: relative; }
      body .page .gallery img {
        width: 100%;
        height: 100%; }
    body .page .content {
      color: #515151;
      background: #ebebeb; }
      body .page .content h2 {
        color: #088ca5; }
  body .fa {
    color: #fff;
    display: block;
    position: absolute; }
  body .clearfix {
    content: "";
    clear: both;
    width: 0;
    height: 0; }

/*LARGE*/
header {
  padding: 40px 50px;
  height: 100px; }
  header ul li {
    float: left;
    font-size: 18px;
    margin-right: 30px; }

.title-banner {
  height: 580px;
  padding: 110px 0 0 85px; }
  .title-banner h1 {
    font-size: 65px;
    color: #fff;
    width: 635px;
    margin-bottom: 45px; }
  .title-banner h2 {
    font-size: 35px;
    display: block; }
    .title-banner h2:after {
      margin-left: 90px; }

.cta-block {
  height: 245px; }
  .cta-block .cta-box {
    width: 80%;
    height: 100%;
    float: left;
    padding: 110px 0 0 110px;
    box-sizing: border-box; }
    .cta-block .cta-box h2 {
      font-size: 35px; }
  .cta-block a {
    width: 20%;
    height: 100%;
    float: left;
    position: relative; }
    .cta-block a .fa {
      font-size: 40px;
      display: block;
      top: 40%;
      left: 43%; }

.gallery {
  width: 100%; }
  .gallery .arrow, .gallery .bridge, .gallery .girl {
    height: 296px;
    width: 33.333333%;
    float: left; }
  .gallery .arrow .fa {
    font-size: 40px;
    left: 47%;
    top: 43%; }

.content {
  padding: 55px 8.195121951219513%; }
  .content h2 {
    font-size: 35px;
    margin-bottom: 30px; }
  .content .content-container {
    width: 100%; }
    .content .content-container p {
      display: block;
      float: left;
      width: 38.82926829268293%;
      margin-right: 5.853658536585366%; }
    .content .content-container p + p {
      margin-right: 0; }

/*TABLET-BIG*/
@media only screen and (min-width: 641px) and (max-width: 980px) {
  .page {
    max-width: 980px; }
    .page header {
      padding: 40px 50px;
      height: 100px; }
      .page header ul li {
        float: left;
        font-size: 18px;
        margin-right: 25px; }
    .page .title-banner {
      height: 550px; }
      .page .title-banner h1 {
        font-size: 66px;
        color: #fff;
        width: 470px;
        margin-bottom: 25px; }
      .page .title-banner h2 {
        font-size: 25px;
        display: block; }
        .page .title-banner h2:after {
          margin-left: 30px;
          font-size: 25px; }
    .page .cta-block {
      height: 235px; }
      .page .cta-block .cta-box {
        padding-right: 112px; }
        .page .cta-block .cta-box h2 {
          font-size: 27px; }
    .page .gallery .arrow, .page .gallery .bridge, .page .gallery .girl {
      height: 283px; }
    .page .content h2 {
      font-size: 25px; }
    .page .content .content-container p {
      font-size: 14px; } }
/*TABLET-SMALL*/
/*PHONE*/

/*# sourceMappingURL=style.css.map */
