/*LARGE*/

header {
  padding: 40px 50px;
  height: 100px;

  ul {

    li {
      float: left;
      font-size: 18px;
      margin-right: 30px;
    }
  }
}

.title-banner {
  height: 580px;
  padding: 110px 0 0 85px;

  h1 {
    font-size: 65px;
    color: #fff;
    width: 635px;
    margin-bottom: 45px;
  }

  h2 {
    font-size: 35px;
    display: block;

    &:after {
      margin-left: 90px;
    }
  }
}

.cta-block {
  height: 245px;

  .cta-box {
    width: 80%;
    height: 100%;
    float: left;
    padding: 110px 0 0 110px;
    box-sizing: border-box;

    h2 {
      font-size: 35px;
    }
  }

  a {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;

    .fa {
      font-size: 40px;
      display: block;
      top: 40%;
      left: 43%;
    }
  }
}

.gallery  {
  width: 100%;

  .arrow, .bridge, .girl {
    height: 296px;
    width: 33.333333%;
    float: left;
  }

  .arrow .fa {
    font-size: 40px;
    left: 47%;
    top: 43%;
  }
}

.content {
  padding: 55px 8.195121951219513%;

  h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .content-container {
    width: 100%;

    p {
      display: block;
      float: left;
      width:  38.82926829268293%;
      margin-right: 5.853658536585366%;
    }

    p + p {
      margin-right: 0;
    }
  }
}



